li a {
    
    color: rgb(241, 241, 241);
    
    text-decoration: none;
}

li a:hover {
    background-color: rgb(8, 255, 243);
    color: rgb(255, 22, 22);
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:#5d7ce2;
    
}

li {
    float: left;
    
}

ul a {
    display: block;;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;    
   
}